input[type=text] {
	border: 5px solid black;
	border-radius: 5px;
}

ul {
	list-style: none;
	float: right;
	font-weight: bold;
	right: 30px;
	position: fixed;
	font-size: 20px;
}

.correct1 {
	color: green;
	font-weight: bolder;
}

.wrong2 {
	color: red;
	font-weight: bolder;
}

